<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cats: Roxy and Talulah</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">


          <div class="inner cover">
            <h1 class="cover-heading">Cats: Roxy and Talulah</h1>
            <img src="{{url}}" class="img-fluid" alt="Responsive image">
            <p class="lead">The following site randomly grabs a cat picture from a small imgur album of cats.</p>
            <p class="lead">
              <a href="https://imgur.com/a/ae6UdRT" class="btn btn-lg btn-secondary">Original Imgur Album</a>
            </p>
          </div>


        </div>

      </div>
    </div>
  </body>
</html>
